@import '../../Styles/vars';

.mySwiperProducts {
    span {
        background-color: $details;
    }
}
.carrousel{
    padding: 0 25px 0px 25px;
    hr {
        margin: 0;
        width: 40px; 
        height: 4px;
        border: none;
        background-color:$underliner;
    }
}
.carrousel .swiper-pagination  {
  bottom: 16px;
}
.swiper {
    width: 100%;
    height: 100%;
    
}
 .carrousel .swiper {
  height: 450px;
 }
  .swipercards {
    height: 400px;
    text-align: center;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swipercards img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cardContainer{
    list-style: none;
    padding: 0;
    margin: 0;
/*     width: 100%;
    height: 100%; */
    &_image{
      img{
        object-fit: cover;
      }
    }
    &_item{
      p{
        font-size: 10px;
        color: $details-text;
      }
    }
    &_icons {
      svg {
        color: $details;
      }
    }
    &_pricecross {
      p{
        font-size: 11px;
        text-decoration: line-through;
        color: $details-text;
        margin: 0;
      }
    }
    &_price{
      p{
        font-size: 16px;
        font-weight: bold;
        color: $Primary-titles;
        margin: 5px;
      }
    }
    &_btn{
      button {
        color: $primary-color;
        font-size: 15px;
        background-color: $Primary-titles;
        border-radius: 10px;
        width: 170px;
        height: 40px;
        padding: 10px;
        margin-top: 10px;
      }
    }
  }