@import '../../Styles/vars';
.userBtn {
    margin-right: 20px;
    .myAccount {
        display: none;
        @media (min-width: 1025px){
            display: flex; 
        }
    }
    @media (min-width: 1025px){
        width: 160px;
        span {
         display: flex; 
         font-size: 22px;
        }
        svg{
            font-size: 30px; 
        }
    }
}