@import '../../Styles/vars';
.useractions {
    display: none;
    margin-right: 20px;
    
    @media (min-width: 1025px){
        width: 160px;
            display: flex;
            button {
                color: $primary-color;
                font-size: 12px;
                font-weight: bold;
                padding: 10px;
                background-color: $Primary-titles;
                border: 1px solid $dots;
                margin: 2px;
                cursor: pointer;
            }
    }
}