@import '../../Styles/vars';
.userBtn {
    button{
        width: 130px;
        height: 33px;
        font-size: 16px;
        border: none;
        color:$Primary-titles ;
        background-color:$primary-color;
    }

}