@import '../../vars';
.header{
   flex-grow: 1; 
   background-color: $primary-color;
   &_bar{
    position: static;
    .searchMobile {
        @media (min-width:$desktop){
            display: none;
        }
    }
   }
   &_toolbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 0;
    &--menu {
        padding: 0 12px;
        @media (min-width: $desktop){
            display: none;
        }
        svg{
            font-size: 30px;
            color: $Primary-titles;
        }
    }

    .searchDesktop {
        display: none;
        @media (min-width: $desktop){
            display:flex;
            width: 100%;
        }
    }
    &--cart{
        padding: 0 12px;
        display: flex;
        svg{
            font-size: 30px;
            color: $Primary-titles;
        }
        &-pop{
            span{
                background-color: $details;
                border-radius: 100%;
                color: $primary-color;
                padding: 0 4px;
                width: 8px;
                font-size: 12px;
            }
        }
    }
    &--title{
        padding: 0 12px;
        h2{
            font-weight: 900;
            margin: 12px;
            font-size: 30px;
        }
    }
    }
}