
.shipping{
    width: 70rem;
    margin: auto;
    &__title{
        text-align: center;
    }
    &__formulary{
      &--wrapper{
        display: flex;
        align-items: center;
        .form{
            width: 100%;
            &__fieldset{
                display: flex;
                align-items: center;
                &--field{
                    margin-bottom: 1.2rem;
                    display: block;
                    width: 100%;

                }  
            } 
        }
      }
      &--total{
        padding-right: 1.6rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      } 
      &--actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
      } 
    }
}