@import '../../vars';
.search{
    display: flex;
    justify-content: center;
    padding: 0 25px;
    &_icon{
        position: absolute;
        right: 25px;
        top: 70px;
        font-size: 25px;
    }
    input{
        width: 430px;
        height: 28px;
        padding: 5px 10px;
        border: none;
        border-bottom: 1px solid;
        letter-spacing: 1px;
    }
}